body{
    height: 95vh;
    width: 95vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color:rgb(128, 125, 125);
    color: rgb(0, 0, 0);
}

canvas{
    padding-bottom: 5PX;
}

h1{
    font-family: Arial, Helvetica, sans-serif;
}